In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
from model import forecast

c:\Users\Lev\miniconda3\envs\ds\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
dates_to_test = pd.date_range(start='2023-07-19', end='2023-08-01').to_list()
store_to_test_mod1 = 'f7e6c85504ce6e82442c770f7c8606f0'
item_to_test_mod1 = {"sku": "4b083e10f6cd2f4360c5425d05be6386",
                     "group": "6512bd43d9caa6e02c990b0a82652dca",
                     "category": "e58cc5ca94270acaceed13bc82dfedf7",
                     "subcategory": "120e4b609af49ff7b17c3b90e7a28435"}

In [4]:
#test model2
store_to_test_mod2 = '16a5cdae362b8d27a1d8f8c7b78b4330'
item_to_test_mod2 = {"sku": "0045ebdb1069ff4b3dd3efe628c39cd3",
                     "group": "c74d97b01eae257e44aa9d5bade97baf",
                     "category": "c559da2ba967eb820766939a658022c8",
                     "subcategory": "130d817d8b3f616e97c555ec57946aec"}
# ''
# forecast(item_to_test_mod2, store_to_test_mod2, dates_to_test)

# #[2, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]
# #[3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3]

In [5]:
sales = pd.read_csv('sales_db.csv', parse_dates=['date'])
sales.head()

,date,pr_sales_type_id,pr_sales_in_units,pr_sales_in_rub,pr_promo_sales_in_units,pr_promo_sales_in_rub,pr_sku_id,st_id
0,2023-04-07,1,1.0,81.0,1.0,81.0,0376a60d9a7ce7965beddc4815588697,084a8a9aa8cced9175bd07bc44998e75
1,2023-04-11,1,1.0,81.0,1.0,81.0,0376a60d9a7ce7965beddc4815588697,084a8a9aa8cced9175bd07bc44998e75
2,2023-04-12,1,1.0,81.0,1.0,81.0,0376a60d9a7ce7965beddc4815588697,084a8a9aa8cced9175bd07bc44998e75
3,2023-04-29,0,1.0,146.0,0.0,0.0,0376a60d9a7ce7965beddc4815588697,084a8a9aa8cced9175bd07bc44998e75
4,2023-05-24,0,1.0,146.0,0.0,0.0,0376a60d9a7ce7965beddc4815588697,084a8a9aa8cced9175bd07bc44998e75

In [6]:
sales.shape

(661192, 8)

In [7]:
def get_history_by_store_item(sku, store, last_date):
    result = pd.DataFrame({'date': pd.date_range(start=(pd.to_datetime(last_date)-pd.Timedelta(days=20)), end=last_date)})
    from_bd = sales[(sales['pr_sku_id'] == sku) & (sales['st_id'] == store)][['date', 'pr_sales_in_units']]
    result = result.merge(from_bd, how='left', on='date')
    result = result.fillna(0)
    dates_list = result['date'].dt.strftime('%Y-%m-%d').to_list()
    sales_list = result['pr_sales_in_units'].to_list()
    dict_result = {dates_list[i]: sales_list[i] for i in range(len(dates_list))}
    return dict_result

In [8]:
get_history_by_store_item('4b083e10f6cd2f4360c5425d05be6386', 'f7e6c85504ce6e82442c770f7c8606f0', '2023-07-18')

{'2023-06-28': 79.0,
 '2023-06-29': 71.0,
 '2023-06-30': 101.0,
 '2023-07-01': 97.0,
 '2023-07-02': 65.0,
 '2023-07-03': 26.0,
 '2023-07-04': 36.0,
 '2023-07-05': 55.0,
 '2023-07-06': 80.0,
 '2023-07-07': 34.0,
 '2023-07-08': 41.0,
 '2023-07-09': 40.0,
 '2023-07-10': 18.0,
 '2023-07-11': 86.0,
 '2023-07-12': 86.0,
 '2023-07-13': 13.0,
 '2023-07-14': 0.0,
 '2023-07-15': 28.0,
 '2023-07-16': 57.0,
 '2023-07-17': 59.0,
 '2023-07-18': 37.0}

In [9]:
def get_history_by_store(store, last_date):
    result = pd.DataFrame({'date': pd.date_range(start=(pd.to_datetime(last_date)-pd.Timedelta(days=20)), end=last_date)})
    from_bd = sales.groupby(['st_id', 'date'])['pr_sales_in_units'].sum().reset_index()
    from_bd = from_bd[from_bd['st_id'] == store]
    result = result.merge(from_bd, how='left', on='date')
    result = result.fillna(0)
    dates_list = result['date'].dt.strftime('%Y-%m-%d').to_list()
    sales_list = result['pr_sales_in_units'].to_list()
    dict_result = {dates_list[i]: sales_list[i] for i in range(len(dates_list))}
    return dict_result

In [10]:
get_history_by_store('f7e6c85504ce6e82442c770f7c8606f0', '2023-07-18')

{'2023-06-28': 1795.0,
 '2023-06-29': 2004.0,
 '2023-06-30': 4042.0,
 '2023-07-01': 4355.0,
 '2023-07-02': 2907.0,
 '2023-07-03': 2233.0,
 '2023-07-04': 2207.0,
 '2023-07-05': 2426.0,
 '2023-07-06': 3099.0,
 '2023-07-07': 4462.0,
 '2023-07-08': 4129.0,
 '2023-07-09': 2659.0,
 '2023-07-10': 2190.0,
 '2023-07-11': 2761.0,
 '2023-07-12': 2756.0,
 '2023-07-13': 3089.0,
 '2023-07-14': 4580.0,
 '2023-07-15': 4760.0,
 '2023-07-16': 2805.0,
 '2023-07-17': 2192.0,
 '2023-07-18': 2304.0}

In [11]:
def get_history_by_item(sku, last_date):
    min_date = sales['date'].min()
    max_date = last_date
    result = pd.DataFrame({'date': pd.date_range(start=min_date, end=max_date)})
    from_bd = sales.groupby(['pr_sku_id', 'date'])[['pr_sales_in_units', 'pr_sales_in_rub']].sum().reset_index()
    from_bd = from_bd[from_bd['pr_sku_id'] == sku]
    result = result.merge(from_bd, how='left', on='date')
    result = result.fillna(0)
    dates_list = result['date'].dt.strftime('%Y-%m-%d').to_list()
    sales_units_list = result['pr_sales_in_units'].to_list()
    sales_rub_list = result['pr_sales_in_rub'].to_list()
    dict_result = {dates_list[i]: (sales_units_list[i], sales_rub_list[i]) for i in range(len(dates_list))}
    return dict_result

In [12]:
item_sales_history = get_history_by_item('4b083e10f6cd2f4360c5425d05be6386', '2023-07-18')
item_sales_history

{'2022-08-01': (146.0, 13717.0),
 '2022-08-02': (166.0, 15650.0),
 '2022-08-03': (204.0, 18569.0),
 '2022-08-04': (130.0, 13667.0),
 '2022-08-05': (179.0, 18039.0),
 '2022-08-06': (67.0, 6584.0),
 '2022-08-07': (41.0, 3755.0),
 '2022-08-08': (13.0, 1691.0),
 '2022-08-09': (86.0, 8445.0),
 '2022-08-10': (97.0, 9938.0),
 '2022-08-11': (280.0, 22739.0),
 '2022-08-12': (108.0, 10523.0),
 '2022-08-13': (129.0, 13565.0),
 '2022-08-14': (117.0, 12555.0),
 '2022-08-15': (137.0, 14333.0),
 '2022-08-16': (81.0, 7913.0),
 '2022-08-17': (99.0, 9368.0),
 '2022-08-18': (99.0, 10103.0),
 '2022-08-19': (251.0, 24890.0),
 '2022-08-20': (205.0, 20191.0),
 '2022-08-21': (206.0, 20971.0),
 '2022-08-22': (123.0, 12307.0),
 '2022-08-23': (112.0, 10610.0),
 '2022-08-24': (74.0, 7363.0),
 '2022-08-25': (201.0, 17127.0),
 '2022-08-26': (235.0, 22568.0),
 '2022-08-27': (110.0, 11405.0),
 '2022-08-28': (46.0, 4577.0),
 '2022-08-29': (50.0, 4965.0),
 '2022-08-30': (136.0, 13555.0),
 '2022-08-31': (143.0, 14369.0),
 '2022-09-01': (119.0, 11204.0),
 '2022-09-02': (99.0, 9127.0),
 '2022-09-03': (48.0, 4754.0),
 '2022-09-04': (68.0, 7381.0),
 '2022-09-05': (76.0, 7713.0),
 '2022-09-06': (95.0, 9766.0),
 '2022-09-07': (70.0, 7096.0),
 '2022-09-08': (233.0, 23284.0),
 '2022-09-09': (140.0, 14104.0),
 '2022-09-10': (187.0, 18590.0),
 '2022-09-11': (131.0, 13123.0),
 '2022-09-12': (75.0, 7641.0),
 '2022-09-13': (140.0, 13923.0),
 '2022-09-14': (110.0, 11113.0),
 '2022-09-15': (258.0, 23177.0),
 '2022-09-16': (221.0, 20077.0),
 '2022-09-17': (192.0, 17502.0),
 '2022-09-18': (193.0, 19398.0),
 '2022-09-19': (75.0, 7501.0),
 '2022-09-20': (42.0, 4186.0),
 '2022-09-21': (71.0, 7124.0),
 '2022-09-22': (78.0, 7823.0),
 '2022-09-23': (162.0, 16426.0),
 '2022-09-24': (129.0, 13492.0),
 '2022-09-25': (133.0, 13818.0),
 '2022-09-26': (64.0, 6447.0),
 '2022-09-27': (83.0, 8867.0),
 '2022-09-28': (67.0, 7124.0),
 '2022-09-29': (182.0, 14850.0),
 '2022-09-30': (350.0, 29326.0),
 '2022-10-01': (135.0, 12989.0),
 '2022-10-02': (120.0, 11452.0),
 '2022-10-03': (112.0, 10989.0),
 '2022-10-04': (141.0, 13901.0),
 '2022-10-05': (178.0, 17363.0),
 '2022-10-06': (128.0, 12421.0),
 '2022-10-07': (487.0, 44829.0),
 '2022-10-08': (152.0, 15169.0),
 '2022-10-09': (133.0, 12877.0),
 '2022-10-10': (114.0, 11516.0),
 '2022-10-11': (108.0, 10330.0),
 '2022-10-12': (108.0, 10496.0),
 '2022-10-13': (293.0, 24529.0),
 '2022-10-14': (319.0, 27956.0),
 '2022-10-15': (95.0, 8779.0),
 '2022-10-16': (214.0, 20385.0),
 '2022-10-17': (153.0, 14483.0),
 '2022-10-18': (189.0, 17772.0),
 '2022-10-19': (177.0, 17109.0),
 '2022-10-20': (177.0, 17336.0),
 '2022-10-21': (129.0, 13007.0),
 '2022-10-22': (161.0, 15384.0),
 '2022-10-23': (260.0, 24637.0),
 '2022-10-24': (66.0, 6313.0),
 '2022-10-25': (129.0, 12386.0),
 '2022-10-26': (63.0, 5833.0),
 '2022-10-27': (234.0, 22254.0),
 '2022-10-28': (116.0, 11060.0),
 '2022-10-29': (219.0, 21488.0),
 '2022-10-30': (125.0, 12390.0),
 '2022-10-31': (70.0, 6864.0),
 '2022-11-01': (81.0, 7774.0),
 '2022-11-02': (112.0, 10919.0),
 '2022-11-03': (186.0, 19000.0),
 '2022-11-04': (153.0, 15909.0),
 '2022-11-05': (113.0, 11435.0),
 '2022-11-06': (108.0, 11053.0),
 '2022-11-07': (57.0, 5858.0),
 '2022-11-08': (52.0, 5641.0),
 '2022-11-09': (117.0, 11531.0),
 '2022-11-10': (241.0, 22581.0),
 '2022-11-11': (329.0, 30906.0),
 '2022-11-12': (300.0, 29921.0),
 '2022-11-13': (157.0, 15335.0),
 '2022-11-14': (95.0, 9401.0),
 '2022-11-15': (100.0, 10266.0),
 '2022-11-16': (79.0, 8562.0),
 '2022-11-17': (55.0, 5521.0),
 '2022-11-18': (330.0, 27892.0),
 '2022-11-19': (593.0, 47574.0),
 '2022-11-20': (464.0, 36913.0),
 '2022-11-21': (205.0, 17171.0),
 '2022-11-22': (192.0, 14571.0),
 '2022-11-23': (154.0, 12426.0),
 '2022-11-24': (47.0, 4551.0),
 '2022-11-25': (243.0, 22301.0),
 '2022-11-26': (182.0, 20600.0),
 '2022-11-27': (85.0, 9389.0),
 '2022-11-28': (61.0, 6742.0),
 '2022-11-29': (74.0, 7461.0),
 '2022-11-30': (77.0, 8099.0),
 '2022-12-01': (233.0, 22400.0),
 '2022-12-02': (173.0, 17699.0),
 '2022-12-03': (178.0, 19250.0),
 '2022-12-04': (189.0, 19201.0),
 '2022-12-05': (120.0, 12480.0),
 '2022-12-06': (68.0, 6623.0),
 '2022-12-07': (163.0, 15360.0),
 '2022-12-08': (517.0, 47446.0),
 '2022-12-09': (294.0, 27073.0),
 '2022-12-10': (322.0, 31240.0),
 '2022-12-11': (345.0, 33223.0),
 '2022-12-12': (178.0, 17273.0),
 '2022-12-13': (127.0, 13306.0),
 '2022-12-14': (88.0, 9180.0),
 '2022-12-15': (144.0, 14385.0),
 '2022-12-16': (501.0, 45453.0),
 '2022-12-17': (453.0, 43755.0),
 '2022-12-18': (303.0, 29478.0),
 '2022-12-19': (191.0, 18305.0),
 '2022-12-20': (143.0, 14053.0),
 '2022-12-21': (222.0, 20405.0),
 '2022-12-22': (138.0, 13062.0),
 '2022-12-23': (464.0, 41371.0),
 '2022-12-24': (185.0, 19353.0),
 '2022-12-25': (210.0, 22352.0),
 '2022-12-26': (127.0, 12895.0),
 '2022-12-27': (138.0, 14219.0),
 '2022-12-28': (170.0, 17266.0),
 '2022-12-29': (398.0, 40456.0),
 '2022-12-30': (341.0, 34750.0),
 '2022-12-31': (160.0, 16812.0),
 '2023-01-01': (17.0, 1663.0),
 '2023-01-02': (131.0, 12888.0),
 '2023-01-03': (160.0, 13874.0),
 '2023-01-04': (91.0, 7971.0),
 '2023-01-05': (45.0, 4084.0),
 '2023-01-06': (104.0, 9995.0),
 '2023-01-07': (98.0, 10024.0),
 '2023-01-08': (42.0, 4320.0),
 '2023-01-09': (85.0, 8393.0),
 '2023-01-10': (63.0, 6255.0),
 '2023-01-11': (136.0, 13599.0),
 '2023-01-12': (186.0, 18346.0),
 '2023-01-13': (198.0, 18751.0),
 '2023-01-14': (158.0, 16307.0),
 '2023-01-15': (165.0, 17135.0),
 '2023-01-16': (55.0, 5790.0),
 '2023-01-17': (96.0, 9658.0),
 '2023-01-18': (60.0, 5975.0),
 '2023-01-19': (152.0, 16003.0),
 '2023-01-20': (77.0, 8256.0),
 '2023-01-21': (112.0, 11517.0),
 '2023-01-22': (85.0, 9326.0),
 '2023-01-23': (37.0, 3969.0),
 '2023-01-24': (36.0, 3888.0),
 '2023-01-25': (43.0, 4467.0),
 '2023-01-26': (190.0, 15731.0),
 '2023-01-27': (321.0, 27960.0),
 '2023-01-28': (183.0, 15987.0),
 '2023-01-29': (198.0, 17827.0),
 '2023-01-30': (124.0, 11214.0),
 '2023-01-31': (183.0, 16327.0),
 '2023-02-01': (83.0, 7974.0),
 '2023-02-02': (268.0, 24308.0),
 '2023-02-03': (186.0, 16510.0),
 '2023-02-04': (211.0, 19352.0),
 '2023-02-05': (113.0, 11644.0),
 '2023-02-06': (89.0, 9202.0),
 '2023-02-07': (69.0, 7025.0),
 '2023-02-08': (62.0, 5968.0),
 '2023-02-09': (134.0, 12700.0),
 '2023-02-10': (238.0, 22287.0),
 '2023-02-11': (172.0, 16154.0),
 '2023-02-12': (193.0, 18245.0),
 '2023-02-13': (74.0, 7346.0),
 '2023-02-14': (132.0, 12870.0),
 '2023-02-15': (139.0, 13390.0),
 '2023-02-16': (226.0, 21277.0),
 '2023-02-17': (195.0, 18571.0),
 '2023-02-18': (222.0, 21437.0),
 '2023-02-19': (114.0, 11119.0),
 '2023-02-20': (75.0, 7977.0),
 '2023-02-21': (136.0, 12718.0),
 '2023-02-22': (895.0, 76102.0),
 '2023-02-23': (2253.0, 173089.0),
 '2023-02-24': (2552.0, 193091.0),
 '2023-02-25': (2205.0, 164847.0),
 '2023-02-26': (819.0, 62485.0),
 '2023-02-27': (637.0, 48167.0),
 '2023-02-28': (421.0, 32230.0),
 '2023-03-01': (522.0, 40985.0),
 '2023-03-02': (246.0, 22494.0),
 '2023-03-03': (355.0, 31781.0),
 '2023-03-04': (712.0, 62129.0),
 '2023-03-05': (276.0, 23862.0),
 '2023-03-06': (203.0, 17642.0),
 '2023-03-07': (267.0, 24121.0),
 '2023-03-08': (201.0, 17754.0),
 '2023-03-09': (123.0, 10621.0),
 '2023-03-10': (547.0, 46235.0),
 '2023-03-11': (346.0, 28159.0),
 '2023-03-12': (371.0, 30711.0),
 '2023-03-13': (189.0, 15386.0),
 '2023-03-14': (188.0, 16163.0),
 '2023-03-15': (193.0, 17024.0),
 '2023-03-16': (138.0, 12533.0),
 '2023-03-17': (312.0, 26514.0),
 '2023-03-18': (380.0, 30656.0),
 '2023-03-19': (338.0, 27005.0),
 '2023-03-20': (73.0, 6694.0),
 '2023-03-21': (114.0, 10390.0),
 '2023-03-22': (132.0, 12364.0),
 '2023-03-23': (2677.0, 198206.0),
 '2023-03-24': (1508.0, 113920.0),
 '2023-03-25': (249.0, 21651.0),
 '2023-03-26': (151.0, 13407.0),
 '2023-03-27': (221.0, 19998.0),
 '2023-03-28': (168.0, 14205.0),
 '2023-03-29': (248.0, 21518.0),
 '2023-03-30': (335.0, 27782.0),
 '2023-03-31': (310.0, 25899.0),
 '2023-04-01': (552.0, 45991.0),
 '2023-04-02': (409.0, 34322.0),
 '2023-04-03': (277.0, 23494.0),
 '2023-04-04': (195.0, 16710.0),
 '2023-04-05': (527.0, 44916.0),
 '2023-04-06': (142.0, 12658.0),
 '2023-04-07': (285.0, 25865.0),
 '2023-04-08': (611.0, 53684.0),
 '2023-04-09': (396.0, 34689.0),
 '2023-04-10': (272.0, 23426.0),
 '2023-04-11': (196.0, 17061.0),
 '2023-04-12': (290.0, 25012.0),
 '2023-04-13': (664.0, 53376.0),
 '2023-04-14': (830.0, 66266.0),
 '2023-04-15': (420.0, 35889.0),
 '2023-04-16': (185.0, 15754.0),
 '2023-04-17': (82.0, 6756.0),
 '2023-04-18': (102.0, 8384.0),
 '2023-04-19': (166.0, 14539.0),
 '2023-04-20': (140.0, 12462.0),
 '2023-04-21': (176.0, 15668.0),
 '2023-04-22': (336.0, 31891.0),
 '2023-04-23': (101.0, 8601.0),
 '2023-04-24': (158.0, 13016.0),
 '2023-04-25': (102.0, 8815.0),
 '2023-04-26': (166.0, 13617.0),
 '2023-04-27': (1316.0, 100508.0),
 '2023-04-28': (1285.0, 100173.0),
 '2023-04-29': (636.0, 54645.0),
 '2023-04-30': (303.0, 26050.0),
 '2023-05-01': (170.0, 12801.0),
 '2023-05-02': (189.0, 15707.0),
 '2023-05-03': (122.0, 11067.0),
 '2023-05-04': (372.0, 29668.0),
 '2023-05-05': (396.0, 30669.0),
 '2023-05-06': (205.0, 19978.0),
 '2023-05-07': (287.0, 29586.0),
 '2023-05-08': (88.0, 8933.0),
 '2023-05-09': (153.0, 15085.0),
 '2023-05-10': (179.0, 17267.0),
 '2023-05-11': (1120.0, 89278.0),
 '2023-05-12': (913.0, 74958.0),
 '2023-05-13': (346.0, 34424.0),
 '2023-05-14': (202.0, 18127.0),
 '2023-05-15': (190.0, 15783.0),
 '2023-05-16': (167.0, 14612.0),
 '2023-05-17': (228.0, 20860.0),
 '2023-05-18': (1300.0, 100796.0),
 '2023-05-19': (847.0, 67950.0),
 '2023-05-20': (184.0, 16750.0),
 '2023-05-21': (286.0, 25440.0),
 '2023-05-22': (82.0, 7421.0),
 '2023-05-23': (182.0, 15702.0),
 '2023-05-24': (135.0, 11952.0),
 '2023-05-25': (1055.0, 85320.0),
 '2023-05-26': (795.0, 63075.0),
 '2023-05-27': (337.0, 29786.0),
 '2023-05-28': (254.0, 21595.0),
 '2023-05-29': (171.0, 14860.0),
 '2023-05-30': (251.0, 21375.0),
 '2023-05-31': (314.0, 26474.0),
 '2023-06-01': (386.0, 31502.0),
 '2023-06-02': (657.0, 53162.0),
 '2023-06-03': (349.0, 29151.0),
 '2023-06-04': (248.0, 21919.0),
 '2023-06-05': (249.0, 21881.0),
 '2023-06-06': (362.0, 30079.0),
 '2023-06-07': (523.0, 43606.0),
 '2023-06-08': (304.0, 28378.0),
 '2023-06-09': (293.0, 27883.0),
 '2023-06-10': (217.0, 20828.0),
 '2023-06-11': (285.0, 26774.0),
 '2023-06-12': (117.0, 11918.0),
 '2023-06-13': (106.0, 11022.0),
 '2023-06-14': (166.0, 17097.0),
 '2023-06-15': (693.0, 56584.0),
 '2023-06-16': (653.0, 53953.0),
 '2023-06-17': (177.0, 16762.0),
 '2023-06-18': (182.0, 16781.0),
 '2023-06-19': (165.0, 15351.0),
 '2023-06-20': (152.0, 13859.0),
 '2023-06-21': (228.0, 21081.0),
 '2023-06-22': (261.0, 24765.0),
 '2023-06-23': (521.0, 46909.0),
 '2023-06-24': (345.0, 30836.0),
 '2023-06-25': (172.0, 15669.0),
 '2023-06-26': (157.0, 14454.0),
 '2023-06-27': (172.0, 15897.0),
 '2023-06-28': (146.0, 13162.0),
 '2023-06-29': (248.0, 23251.0),
 '2023-06-30': (598.0, 52107.0),
 '2023-07-01': (317.0, 28522.0),
 '2023-07-02': (232.0, 20216.0),
 '2023-07-03': (136.0, 12242.0),
 '2023-07-04': (195.0, 17609.0),
 '2023-07-05': (152.0, 14028.0),
 '2023-07-06': (182.0, 16343.0),
 '2023-07-07': (310.0, 28844.0),
 '2023-07-08': (164.0, 14936.0),
 '2023-07-09': (128.0, 11948.0),
 '2023-07-10': (176.0, 16887.0),
 '2023-07-11': (197.0, 18473.0),
 '2023-07-12': (159.0, 15124.0),
 '2023-07-13': (1125.0, 96070.0),
 '2023-07-14': (649.0, 54324.0),
 '2023-07-15': (475.0, 43204.0),
 '2023-07-16': (264.0, 24494.0),
 '2023-07-17': (148.0, 13697.0),
 '2023-07-18': (158.0, 14790.0)}

In [13]:
len(item_sales_history)

352

In [14]:
stats_by_store_item1 = get_history_by_store_item('4b083e10f6cd2f4360c5425d05be6386', 'f7e6c85504ce6e82442c770f7c8606f0', '2023-07-18')
stats_by_store1 = get_history_by_store('f7e6c85504ce6e82442c770f7c8606f0', '2023-07-18')
stats_by_item1 = get_history_by_item('4b083e10f6cd2f4360c5425d05be6386', '2023-07-18')

In [15]:
forecast(item_to_test_mod1, store_to_test_mod1, stats_by_store_item1, stats_by_store1, stats_by_item1, dates_to_test)

#[31, 30, 36, 37, 30, 23, 22, 22, 21, 27, 29, 22, 18, 18]
#[35, 32, 38, 37, 29, 25, 29, 27, 28, 34, 33, 27, 23, 26]
#[36, 28, 27, 28, 30, 30, 29, 26, 23, 22, 25, 25, 25, 25]

15:21:59 - cmdstanpy - INFO - Chain [1] start processing
15:21:59 - cmdstanpy - INFO - Chain [1] done processing

[36, 28, 27, 28, 30, 30, 29, 26, 23, 22, 25, 25, 25, 25]

In [18]:
stats_by_store_item2 = get_history_by_store_item('02713435f3587e2c81d8f6a9016763ea', '16a5cdae362b8d27a1d8f8c7b78b4330', '2023-07-18')
stats_by_store2 = get_history_by_store('16a5cdae362b8d27a1d8f8c7b78b4330', '2023-07-18')
stats_by_item2 = get_history_by_item('02713435f3587e2c81d8f6a9016763ea', '2023-07-18')

In [19]:
forecast(item_to_test_mod2, store_to_test_mod2, stats_by_store_item2, stats_by_store2, stats_by_item2, dates_to_test)

15:22:37 - cmdstanpy - INFO - Chain [1] start processing
15:22:37 - cmdstanpy - INFO - Chain [1] done processing

[3, 3, 3, 3, 3, 2, 2, 3, 4, 4, 4, 3, 3, 3]